---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import { Pill } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';

const builtWith = [
  { name: '生活' },
  { name: '前端'},
  {name: '奇思妙想',},
  { name: '灵感'},
  {name: 'WebGL',},
  { name: 'Game'},
];
---

<Layout
  title='Home'
  pageTitle='WX的小站'
  description='互联网某处的角落里.'
>
  <main class='bg-blue p-6'>
    <MobileSocials />
    <section id='about' class='grid md:grid-cols-8 gap-8 mt-4'>
      <h2 class='hidden'>About</h2>
      <div class='col-span-4'>
        <Card>
          <div class='flex flex-col justify-between items-start gap-4'>
            <p class='mt-4 outfit text-2xl md:text-5xl lg:text-7xl'>
             你似乎发现了<span
                class='text-white'
               >WX</span
              >
            </p>
            <p class='mt-2 outfit text-xl md:text-3xl lg:text-5xl'>
              在互联网的某处痕迹
            </p>
            <Button target={'_self'} href='/blog/'>
              稍微看看 &rarr;
            </Button>
          </div>
        </Card>
      </div>
      <div class='col-span-2'>
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
            你可以在这里看到...
          </h2>
          <ul class='flex gap-4 flex-wrap'>
            {
              builtWith.map((item) => (
                <li>
                  <Pill>
                    <span
                      class='sanchez'
                    >
                      {item.name}
                    </span>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
      <div class='col-span-2'>
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif'>
            这是一个
          </h2>
          <p class='poppins'>
            记录想法变成现实过程的博客。老博客指路:<a title="前往majula" href="https://wxmajula.netlify.app/" target="_blank"
            class="text-white"
            >Majula</a>
          </p>
        </Card>
      </div>
    </section>
    <RecentBlogPosts />
  </main>
</Layout>
