---
interface Props {
  pubDate: Date;
  author: string;
}

const { pubDate, author } = Astro.props;
---

<article class='prose-slate w-sm md:w-prose md:prose poppins'>
  <a href='/blog/' title='返回'>&larr; 返回</a>
  <!-- <p class='text-slate text-sm md:text-base'>
    发布于 {pubDate} 由 {author} 所写
  </p> -->
  <slot />
  <p class='text-slate'>作者: {author}</p>
  <a href='/blog/' title='返回'>&larr; 返回</a>
</article>
