---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Layout from '@layouts/Default.astro';
import BlogList from '@components/blog/BlogList.astro';
import { Button } from '@eliancodes/brutal-ui';

export async function getStaticPaths() {
  const allPosts = await getCollection('blog').then((collection) =>
    collection.reverse()
  );

  const tags: string[] = [];

  allPosts.forEach((post) => {
    post.data.tags.forEach((tag) => {
      tags.push(tag.toLowerCase());
    });
  });

  return Array.from(new Set(tags)).map((tag) => {
    return {
      params: { tag: encodeURIComponent(tag) },
      props: {
        tag,
        rawTag: tag,
        blogposts: allPosts.filter((post) =>
          post.data.tags.map((tag) => tag.toLowerCase()).includes(tag)
        ),
      },
    };
  });
}

interface Props {
  tag: string;
  rawTag: string;
  blogposts: CollectionEntry<'blog'>[];
}
const { rawTag, blogposts } = Astro.props;
const tag = decodeURIComponent(rawTag);
---

<Layout
  title={`Blog: ${tag}`}
  description={`Wx Blog | 所有包含标签 ${tag}的文章`}
  pageTitle={`Wx Blog | 标签为 ${tag}的文章`}
>
  <main class='p-6 bg-purple grid gap-4'>
    <div>
      <Button href='/blog/'>&larr; 返回</Button>
    </div>
    <BlogList posts={blogposts} />
  </main>
</Layout>
